html {
    font-size: 62.5%;
    color: #222;
}

#imgWrap{
		margin:0 auto;
		width: 1200px;
		height: 600px;
		perspective: 800px;
	}
	#imgWrap img{
		float: left;
	}
	.content{
		width: 100%;
		display: inline-block;
		text-align: center;
	}
	.button{
		width: 150px;
		height: 50px;
		font:16px/40px "微软雅黑";
		background-color: #ff0000;
		border: transparent;
		color: #fff;
		border-radius: 5px;
		box-shadow: 2px 2px 2px rgba(0,0,0,0.5);
		cursor: pointer;
		margin-top: 20px;
	}
@media only screen and (max-width: 1220px) {
		#imgWrap{
			width: 100%;
			perspective: 800px;
		}
		#imgWrap img{
			width: 12vw;
			height: 12vw;
		}
		.button{
			margin-top: 10px;
		}