html {
    font-size: 62.5%;
    color: #222;
}

#imgWrap{
		margin:0 auto;
		width: 1200px;
		height: 600px;
		perspective: 800px;
	}
	#imgWrap img{
		float: left;
	}
	#button{
		/*margin:0 auto;*/
		width: 150px;
		height: 50px;
		text-align: center;
		font:16px/40px "微软雅黑";
		background-color: #ff0000;
		border: transparent;
		/*left: 50%;*/
		color: #fff;
		padding: 0 20px;
		border-radius: 5px;
		box-shadow: 2px 2px 2px rgba(0,0,0,0.5);
		cursor: pointer;
		margin-top: 50px;
		/*transform:translateX(-50%) translateY(-50%);*/
	}
@media only screen and (max-width: 1220px) {
		#imgWrap{
			width: 100%;
			perspective: 800px;
		}
		#imgWrap img{
			width: 12vw;
			height: 12vw;
		}